.catalog {
  width: 100%;
  justify-content: center;
  display: flex;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1366px;
  padding: 85px 7.5% 120px;

  @include vp-1279 {
    padding: 85px 5% 120px;
  }

  @include vp-1023 {
    padding: 90px 45px 100px;
  }

  @include vp-767 {
    padding: 60px 15px 65px;
  }
}

.catalog__container h2 {
  @include montserrat(600, 28px, 42px, $color-navy);
  margin-bottom: 50px;

  @include vp-1023 {
    @include montserrat(600, 26px, 39px, $color-navy);
  }

  @include vp-767 {
    @include montserrat(600, 24px, 36px, $color-navy);
    margin-bottom: 30px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  padding: 0 15px;

  @include vp-1279 {
    gap: 2%;
  }

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}

.catalog__item {
  position: relative;
  overflow: auto;
  aspect-ratio: 260/386;

  @include vp-1023 {
    aspect-ratio: 309/386;
  }

  @include vp-767 {
    aspect-ratio: 270/386;
  }
}

.catalog__item-1 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-1.webp" 1x,
    "../img/prod-desk/prod-desk-1@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-1.webp" 1x,
      "../img/prod-tab/prod-tab-1@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-1.webp" 1x,
      "../img/prod-mob/prod-mob-1@2x.webp" 2x
    );
  }
}

.catalog__item-2 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-1.webp" 1x,
    "../img/prod-desk/prod-desk-1@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-1.webp" 1x,
      "../img/prod-tab/prod-tab-1@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-1.webp" 1x,
      "../img/prod-mob/prod-mob-1@2x.webp" 2x
    );
  }
}

.catalog__item-3 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-3.webp" 1x,
    "../img/prod-desk/prod-desk-3@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-3.webp" 1x,
      "../img/prod-tab/prod-tab-3@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-3.webp" 1x,
      "../img/prod-mob/prod-mob-3@2x.webp" 2x
    );
  }
}

.catalog__item-4 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-4.webp" 1x,
    "../img/prod-desk/prod-desk-4@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-4.webp" 1x,
      "../img/prod-tab/prod-tab-4@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-4.webp" 1x,
      "../img/prod-mob/prod-mob-4@2x.webp" 2x
    );
  }
}

.catalog__item-5 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-5.webp" 1x,
    "../img/prod-desk/prod-desk-5@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-5.webp" 1x,
      "../img/prod-tab/prod-tab-5@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-5.webp" 1x,
      "../img/prod-mob/prod-mob-5@2x.webp" 2x
    );
  }
}

.catalog__item-6 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-6.webp" 1x,
    "../img/prod-desk/prod-desk-6@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-6.webp" 1x,
      "../img/prod-tab/prod-tab-6@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-6.webp" 1x,
      "../img/prod-mob/prod-mob-6@2x.webp" 2x
    );
  }
}

.catalog__item-7 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-7.webp" 1x,
    "../img/prod-desk/prod-desk-7@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-7.webp" 1x,
      "../img/prod-tab/prod-tab-7@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-7.webp" 1x,
      "../img/prod-mob/prod-mob-7@2x.webp" 2x
    );
  }
}

.catalog__item-8 {
  background-color: $color-deep-sky-blue;
  background-image: image-set(
    "../img/prod-desk/prod-desk-8.webp" 1x,
    "../img/prod-desk/prod-desk-8@2x.webp" 2x
  );

  @include vp-1023 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-tab/prod-tab-8.webp" 1x,
      "../img/prod-tab/prod-tab-8@2x.webp" 2x
    );
  }

  @include vp-767 {
    background-color: $color-deep-sky-blue;
    background-image: image-set(
      "../img/prod-mob/prod-mob-8.webp" 1x,
      "../img/prod-mob/prod-mob-8@2x.webp" 2x
    );
  }
}

.catalog__info {
  padding: 28px 25px 35px;
  background-color: $color-navy;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  @include vp-1023 {
    padding: 28px 35px 35px;
  }

  @include vp-767 {
    padding: 28px 25px 35px;
  }
}

.catalog__preview h3 {
  @include montserrat(500, 18px, 27px, $color-off-white);
}

.catalog__info h3 {
  @include montserrat(500, 18px, 27px, $color-off-white);
  margin-bottom: 12px;
}

.catalog__info h4 {
  @include montserrat(500, 14px, 20px, $color-off-white);
}

.catalog__info p {
  @include montserrat(400, 14px, 20px, $color-off-white);
  margin-bottom: 11px;
}

.catalog__button {
  display: flex;
  width: 100%;
  background-color: $color-off-white;

  @include montserrat(600, 14px, 21px, $color-navy);
  min-height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-decoration: revert;
    opacity: 0.8;
  }

  &:focus {
    border: 2px solid $color-deep-sky-blue;
  }

  &:active {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: none;
  }
}

.catalog__preview {
  @include catalog-set;
  @include back-set;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  padding: 23px 30px;

  @include vp-1023 {
    padding: 26px 35px;
  }

  @include vp-767 {
    padding: 17px 26px;
  }
}
