.footer {
  width: 100%;
  display: flex;
  background-color: $color-navy;
  min-height: 138px;

  @include vp-1023 {
    min-height: 120px;
  }
}

.footer__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-navy;
  max-width: 1366px;
  margin-top: 47px;

  @include vp-1023 {
    padding-top: 0;
  }

  @include vp-767 {
    align-items: flex-start;
    margin-top: 42px;
  }
}

.footer__navigation {
  display: flex;
  width: 100%;
  align-items: flex-start;
  max-width: 1366px;
  padding: 0 7.5%;

  @include vp-1023 {
    padding: 0 45px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0 10px 32px;
    align-items: flex-start;
  }
}

.footer__navigation-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 11px;
  }
}

.footer__logo-svg {
  fill: $color-off-white;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.footer-logo {
  margin-right: 30px;

  @include vp-1023 {
    margin-right: 15px;
  }

  @include vp-767 {
    margin-bottom: 16px;
    margin-left: 5px;
  }
}

.footer__navigation-item {
  @include vp-767 {
    margin-bottom: 8px;
  }
}

.footer__navigation-link {
  @include montserrat(500, 16px, 20px, $color-off-white);
  padding: 10px;
  margin-right: 13px;

  @include vp-1023 {
    @include montserrat(500, 12px, 15px, $color-off-white);
    margin-right: 3px;
  }

  @include vp-767 {
    padding: 5px;
  }

  &:hover {
    text-decoration: revert;
    opacity: 0.8;
  }

  &:focus {
    text-decoration: revert;
  }

  &:active {
    text-decoration: revert;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: none;
  }
}

.footer__other-link {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: none;
  }
}

.footer__other-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;

  @include vp-1023 {
    gap: 21px;
  }

  @include vp-767 {
    width: fit-content;
    padding-left: 3px;
  }
}

.footer__link-svg-ok {
  @include vp-1023 {
    width: 10px;
    height: 16px;
  }
}

.footer__link-svg-star {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}

.footer__link-svg-smile {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}

.footer__navigation-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-top: 10px;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    flex-direction: column;
  }
}
