.intro {
  width: 100%;
}

.intro__container {
  height: 658px;
  width: 100%;
  background: url("../img/intro/intro-desk.webp");
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @include back-set;

  @media (min-resolution: 2dppx) {
    background: url("../img/intro/intro-desk@2x.webp");
    @include back-set;
  }

  @include vp-1023 {
    height: 638px;
    background: url("../img/intro/intro-tab.webp");
    @include back-set;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/intro/intro-tab@2x.webp");
    @include back-set;
  }

  @include vp-767 {
    height: 500px;
    background: url("../img/intro/intro-mob.webp");
    @include back-set;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/intro/intro-mob@2x.webp");
    @include back-set;
  }
}

.intro__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 270px;
  width: 100%;
  max-width: 1366px;
  padding-left: 198px;

  @include vp-1023 {
    padding-left: 45px;
    top: 268px;
    max-width: 100%;
  }

  @include vp-767 {
    padding: 0 15px;
    top: 176px;
  }
}

.intro__text h1 {
  @include montserrat(700, 54px, 66px, $color-off-white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;

  @include vp-1023 {
    @include montserrat(700, 50px, 61px, $color-off-white);
    margin-bottom: 13px;
  }

  @include vp-767 {
    @include montserrat(700, 36px, 45px, $color-off-white);
    line-height: 45px;
  }
}

.intro__text h2 {
  @include montserrat(400, 20px, 25px, $color-off-white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    @include montserrat(400, 18px, 22px, $color-off-white);
  }

  @include vp-767 {
    @include montserrat(400, 16px, 22px, $color-off-white);
    line-height: 22px;
  }
}
