div.leaflet-container {
  width: 100%;
  height: 306px;

  @include vp-1023 {
    height: 335px;
  }
}

div.leaflet-pane {
  transform: translate3d(-8px, 73px, 0);

  @include vp-1023 {
    transform: translate3d(-136px, -4px, 0);
  }

  @include vp-767 {
    transform: translate3d(-138px, 4px, 0);
  }
}
